body{
background-color: black;
width: 80%;
margin: auto;
}

h1{color: whitesmoke;
text-align: center;
font-size: 30pt
}

h2{color: orange;
text-align: center;
font-size: 25pt
}

h3{color: whitesmoke;
    text-align: center;
    font-size: 25pt
    }

p{
font-size: 18pt;
text-align: justify;
color: whitesmoke
}

ol{
list-style-type:lower-latin;
font-size:18pt;
line-height:1.5;
}

ul{
list-style-type: square;
font-size: 18pt;
line-height:1,5;
text-align: center;
}

a:hover{
text-decoration: none;
background-color: black;
color: orange;
font-style: italic;
}

#logo{
    margin: auto;
    display: block;
    width: 20%;
    text-align: center;
}

#turtle{
margin: auto;
display: block;
width: 75%;
}
