body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
div{
    margin: 0px;
    display: flex;
}

.header{
    height: 200px;
    overflow: hidden;
    position: relative;
}

.header > img{
    position: absolute;
    width: 100%;
}

.header > h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50pt;
    text-align: center;
    letter-spacing: 0.50em;
}

.header_member{
    height: 200px;
    overflow: hidden;
    position: relative;
}
.header_member > img{
    position: absolute;
    width: 100%;
}

.header_member > h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40pt;
    text-align: center;
    letter-spacing: 0.50em;
}

.nav{
    height: 60px;  
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 20px;
}

.nav > a{
    color: white;
    text-decoration: none;
    background-color: rgba(160, 131, 228, 0.158);
    padding: 15px;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px;
    font-size: 15px;

}
.nav > a:hover{
    font-weight: bold;
    background-color: rgba(187, 115, 255, 0.575);
}

.main{
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.main > div{
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.212);
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
    justify-items: center;
}

.main > div > h1{
    color: rgb(106, 37, 235);
    font-size: 50px;
    margin: 0px;
}

.main > div > h2{
    color: rgb(161, 110, 255);
    font-size: 30px;
    margin-top: 20px;
}

.main > div > p{
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
    
}

.main > div > p > a{
    text-decoration: none;
    color: rgb(181, 173, 255);
}

.main > div > p > a:hover{
    font-weight: bold;
}





.main_member{
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.main_member > div{
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.212);
    padding-top: 30px;
    flex-direction: row;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
    justify-items: center;
}

.main_member > div > h1{
    color: rgb(106, 37, 235);
    font-size: 50px;
    margin: 0px;
}

.main_member > div > h2{
    color: rgb(161, 110, 255);
    font-size: 30px;
    margin-top: 20px;
}

.main_member > div > p{
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
    
}

.main_member > div > p > a{
    text-decoration: none;
    color: rgb(181, 173, 255);
}

.main_member > div > p > a:hover{
    font-weight: bold;
}

.main_member > .sobremi > img{
    border-radius: 50%;
    height: 500px;
    width: 500px;
}

.main_member > .sobremi > div{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.main_member > .sobremi > div > h1{
    color: rgb(106, 37, 235);
}


.main_member > .formacion{
    display: flex;
    width: 100%;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.212);
    padding-top: 30px;
    flex-direction: column;
    align-items: left;
    padding-left: 50px;
    padding-bottom: 30px;
    justify-items: center;
    min-height: 200px;
}

.main_member > .formacion > .formacion_item {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: left;
}

.main_member > .formacion > .formacion_item > img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-items: left;
}


.main_member > .formacion > .formacion_item > div{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.main_member > .formacion >  .formacion_item > div > h1{
    margin: 0px;
    padding: 0px;
}

.main_member > .formacion > .formacion_item > div > p{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.main_member > .conocimientos{
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: initial;
}

.main_member > .conocimientos > div{
    display: flex;
    flex-direction: column;
}

.main_member > .conocimientos > div > h3{
    color: rgb(106, 37, 235);
}

.footer{
    height: 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.footer > figure{
    display: flex;
}

.footer > figure > img{
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
}
.footer > figure > a{
    position: absolute;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;

}

.footer > figure > a:hover{
    background-color: rgba(0, 0, 0, 0.336);
    font-weight: bold;
}



.footer_member{
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.footer_member > figure{
    display: flex;
}

.footer_member > figure > img{
    position: relative;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
}
.footer_member > figure > a{
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    font-size: 13px;

}

.footer_member > figure > a:hover{
    background-color: rgba(0, 0, 0, 0.815);
    font-weight: bold;
    color: rgb(168, 104, 197);
}